<header class="navbar navbar-fixed-top">
	<div class="navbar-inner">
  		<div class="container">
				<ul class="nav pull-left">
					<li><%= link_to "Your To-do List", '#', id: "logo" %></li>
					<li><%= link_to "Tasks", root_path %></li>
					<li><%= link_to "Add New Task", new_task_path %></li>
				</ul>
				<ul class="nav pull-right">
					<li><%= link_to "Home",  '#' %></li>
					<li><%= link_to "Help",  '#' %></li>
					<li><%= link_to "Sign In",  '#' %></li>
				</ul>
		</div>
	</div>
</header>